{
  "projects": {
    "homelab": {
      "directory": "/home/{{ dev_user }}/code/homelab"
    },
    "dotfiles": {
      "directory": "/home/{{ dev_user }}/code/dotfiles"
    },
    "naaccord-data-depot": {
      "directory": "/home/{{ dev_user }}/code/naaccord-data-depot"
    },
    "naaccord-r-tools": {
      "directory": "/home/{{ dev_user }}/code/naaccord-r-tools"
    },
    "better-shoes": {
      "directory": "/home/{{ dev_user }}/code/better-shoes"
    },
    "workspace": {
      "directory": "/home/{{ dev_user }}/workspace"
    }
  }
}