---
# Development environment configuration

- name: Configure Git global settings
  git_config:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    scope: global
  loop: "{{ git_config | dict2items }}"
  become: yes
  become_user: "{{ dev_user }}"
  when: configure_git | bool

- name: Configure Git user name
  git_config:
    name: user.name
    value: "{{ dev_vm.github_user }}"
    scope: global
  become: yes
  become_user: "{{ dev_user }}"
  when:
    - configure_git | bool
    - dev_vm.github_user is defined

- name: Configure Git user email
  git_config:
    name: user.email
    value: "{{ dev_vm.github_email }}"
    scope: global
  become: yes
  become_user: "{{ dev_user }}"
  when:
    - configure_git | bool
    - dev_vm.github_email is defined

- name: Create .gitconfig from template
  template:
    src: gitconfig.j2
    dest: "/home/{{ dev_user }}/.gitconfig"
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0644'
  when: configure_git | bool

- name: Configure GitHub CLI authentication
  shell: |
    echo "{{ dev_vm.github_token }}" | gh auth login --with-token
  become: yes
  become_user: "{{ dev_user }}"
  when:
    - dev_vm.github_token is defined
    - dev_vm.github_token | length > 0
  no_log: true
  changed_when: false

- name: Create development directories
  file:
    path: "/home/{{ dev_user }}/{{ item }}"
    state: directory
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0755'
  loop:
    - workspace
    - projects
    - .local/bin
    - .config

- name: Add .local/bin to PATH
  lineinfile:
    path: "/home/{{ dev_user }}/.profile"
    line: 'export PATH="$HOME/.local/bin:$PATH"'
    state: present

- name: Install development environment files
  template:
    src: "{{ item.src }}"
    dest: "/home/{{ dev_user }}/{{ item.dest }}"
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: "{{ item.mode | default('0644') }}"
  loop:
    - { src: 'editorconfig.j2', dest: '.editorconfig' }
    - { src: 'tmux.conf.j2', dest: '.tmux.conf' }
    - { src: 'vimrc.j2', dest: '.vimrc' }