---
# Docker installation and configuration

- name: Install Docker prerequisites
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - gnupg
      - lsb-release
      - software-properties-common
    state: present
    update_cache: yes
  become: yes

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  become: yes

- name: Add Docker repository
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    update_cache: yes
  become: yes

- name: Install Docker CE
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
  become: yes

- name: Ensure Docker service is started and enabled
  systemd:
    name: docker
    state: started
    enabled: yes
  become: yes

- name: Add user to docker group
  user:
    name: "{{ dev_user }}"
    groups: docker
    append: yes
  become: yes

- name: Create Docker configuration directory
  file:
    path: /etc/docker
    state: directory
    owner: root
    group: root
    mode: '0755'
  become: yes

- name: Configure Docker daemon
  template:
    src: docker-daemon.json.j2
    dest: /etc/docker/daemon.json
    owner: root
    group: root
    mode: '0644'
  become: yes
  notify: restart docker

- name: Install Docker Compose standalone
  get_url:
    url: "https://github.com/docker/compose/releases/download/v{{ docker_compose_version }}/docker-compose-linux-x86_64"
    dest: /usr/local/bin/docker-compose
    mode: '0755'
  become: yes

- name: Create Docker CLI plugins directory
  file:
    path: "/home/{{ dev_user }}/.docker/cli-plugins"
    state: directory
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0755'

- name: Install Docker Compose as Docker CLI plugin
  file:
    src: /usr/local/bin/docker-compose
    dest: "/home/{{ dev_user }}/.docker/cli-plugins/docker-compose"
    state: link
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"

- name: Login to Docker registries
  docker_login:
    registry_url: "{{ item.url | default('https://index.docker.io/v1/') }}"
    username: "{{ item.username }}"
    password: "{{ item.password }}"
  loop: "{{ docker_registries }}"
  when: docker_registries | length > 0
  become: yes
  become_user: "{{ dev_user }}"
  no_log: true