---
# User environment configuration

- name: Install Zsh
  apt:
    name: zsh
    state: present
  become: yes
  when: shell_type == "zsh"

- name: Change user shell to Zsh
  user:
    name: "{{ dev_user }}"
    shell: /bin/zsh
  become: yes
  when: shell_type == "zsh"

- name: Remove existing Oh My Zsh for erik if needed
  file:
    path: "{{ dev_home }}/.oh-my-zsh"
    state: absent
  when:
    - shell_type == "zsh"
    - install_ohmyzsh | bool
  tags: omz_reinstall

- name: Install Oh My Zsh for erik user
  shell: |
    su - {{ dev_user }} -c 'sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended'
  become: yes
  when:
    - shell_type == "zsh"
    - install_ohmyzsh | bool

- name: Fix permissions for erik's Oh My Zsh
  file:
    path: "{{ item }}"
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    recurse: yes
  loop:
    - "{{ dev_home }}/.oh-my-zsh"
  when:
    - shell_type == "zsh"
    - install_ohmyzsh | bool

- name: Fix .zshrc ownership for erik
  file:
    path: "{{ dev_home }}/.zshrc"
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
  when:
    - shell_type == "zsh"
    - install_ohmyzsh | bool

- name: Remove existing Oh My Zsh for root if needed
  file:
    path: "/root/.oh-my-zsh"
    state: absent
  when:
    - shell_type == "zsh"
    - install_ohmyzsh | bool
    - install_root_shell | bool
  tags: omz_reinstall

- name: Install Oh My Zsh for root user
  shell: |
    sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  become: yes
  when:
    - shell_type == "zsh"
    - install_ohmyzsh | bool
    - install_root_shell | bool

- name: Fix permissions for root's Oh My Zsh
  file:
    path: "/root/.oh-my-zsh"
    owner: root
    group: root
    recurse: yes
  when:
    - shell_type == "zsh"
    - install_ohmyzsh | bool
    - install_root_shell | bool

- name: Change root shell to Zsh
  user:
    name: root
    shell: /bin/zsh
  become: yes
  when:
    - shell_type == "zsh"
    - install_root_shell | bool

- name: Create shell aliases file
  template:
    src: aliases.j2
    dest: "{{ dev_home }}/.bash_aliases"
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0644'

- name: Source aliases in .bashrc
  lineinfile:
    path: "{{ dev_home }}/.bashrc"
    line: "[ -f ~/.bash_aliases ] && source ~/.bash_aliases"
    state: present
    create: yes
  when: shell_type == "bash"

- name: Source aliases in .zshrc
  lineinfile:
    path: "{{ dev_home }}/.zshrc"
    line: "[ -f ~/.bash_aliases ] && source ~/.bash_aliases"
    state: present
    create: yes
  when: shell_type == "zsh"

- name: Configure bash prompt
  blockinfile:
    path: "{{ dev_home }}/.bashrc"
    block: |
      # Custom prompt
      export PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '

      # Better history
      export HISTSIZE=10000
      export HISTFILESIZE=20000
      export HISTCONTROL=ignoreboth:erasedups
      shopt -s histappend

      # Useful options
      shopt -s checkwinsize
      shopt -s globstar
      shopt -s cdspell
      shopt -s dirspell
    marker: "# {mark} ANSIBLE MANAGED BLOCK - BASH CONFIG"
  when: shell_type == "bash"

- name: Create SSH directory
  file:
    path: "{{ dev_home }}/.ssh"
    state: directory
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0700'

- name: Configure SSH client
  template:
    src: ssh_config.j2
    dest: "{{ dev_home }}/.ssh/config"
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0600'

- name: Set up environment variables
  template:
    src: environment.j2
    dest: "{{ dev_home }}/.env"
    owner: "{{ dev_user }}"
    group: "{{ dev_group }}"
    mode: '0600'

- name: Source environment variables in shell
  lineinfile:
    path: "{{ dev_home }}/{{ item }}"
    line: "[ -f ~/.env ] && source ~/.env"
    state: present
    create: yes
  loop:
    - .bashrc
    - .profile
  when: shell_type == "bash"

- name: Source environment variables in zsh
  lineinfile:
    path: "{{ dev_home }}/.zshrc"
    line: "[ -f ~/.env ] && source ~/.env"
    state: present
    create: yes
  when: shell_type == "zsh"