---
all:
  children:
    proxmox_hosts:
      hosts:
        nexus:
          ansible_host: nexus.lan
        hatchery:
          ansible_host: hatchery.lan
    nexus_services:
      hosts:
        docker-services-host:
          ansible_host: docker-services-host.lan
        pihole:
          ansible_host: pihole.lan
        home-assistant:
          ansible_host: home-assistant.lan
    hatchery_services:
      hosts:
        plex-server:
          ansible_host: plex-server.lan
        ups-monitor:
          ansible_host: ups-monitor.lan
        syncthing:
          ansible_host: syncthing.lan
          ansible_user: root
          ansible_ssh_private_key_file: ~/.secrets/ssh/ansible
        immich:
          ansible_host: immich.lan
          ansible_user: root
          ansible_ssh_private_key_file: ~/.secrets/ssh/ansible
    development:
      hosts:
        dev-vm:
          ansible_host: dev.lan
          ansible_user: root
  vars:
    ansible_python_interpreter: /usr/bin/python3
    ansible_ssh_private_key_file: ~/.ssh/scv
    ansible_become: no